<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" type="x-icon" href='{% block favicon %}{% static 'img/cam.png' %}{% endblock favicon %}'>
    {% block imports %}{% endblock imports %}
    
    <title>{% block pageTitle %}Фото нашего сына{% endblock pageTitle %}</title>
</head>
<body>
    <header>
    <div class='MegaFoot'>
        <div  class='left_footer'><a class='FooterText' href='/'><b>Фото нашего сына</b>    </a> <span class='another_text'><i><p>ТЕПЕРЬ в Django</p></i></span></div>
        <div class='right_footer'>
            <ul>
                <li> <a href='/create_cookie/'>Главная</a> </li>
                <li> <a href='/team/'>Команда</a> </li>
                {% if user_login %}
                <li> 
                    <a href='#'>{{ user_login }}</a> 
                    <ul class='dropdown_user_menu'>
                        <li><a href='#'>помогите</a></li>
                        <li><a href='/settings/'>настройки</a></li>
                        <li><a href='#'>выход</a></li>
                    </ul>
                </li>
                {% else %}
                <li> <a href='/register/'>Регистрация</a> </li>

                {% endif %}
                
            </ul>
    </div>
    </div>
    <div class='white_shit'></div>
    </header>

    <div class='MainText'>
        {% block content %}{% endblock content %}
    </div>

    <footer>
        <div class='MegaHead'>
            <div  class='HeaderMain'>
                <a class='HeaderText'><b>ФОТО НАШЕГО СЫНА</b></a> 
                <div class='quote_centre'><span class='motivation_text'><i>«Все везде и сразу»</i></span></span></div>
            </div>
        </div>
        
        <div class='HeaderBottom'><div class='make_centre'></div><span class='date'>Все было сделано в 2024</span><span class='company_name'>Фотоаппарат вашей дочери</span></div>

    </footer>
</body>
</html>