{% extends 'base.html' %}
{% load static %}
{% block pageTitle %}Настройки{% endblock pageTitle %}

{% block favicon %}{% static 'img/gear.png' %}{% endblock favicon %}

{% block imports %}<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}" />{% endblock imports %}
{% block content %}

<span class="title">Настройки</span>
<div class="content">
    <label for="nickname">Изменить никнейм:</label>
    <input type="text" id="nickname" name="nickname" required minlength="1" maxlength="150" size="15" /><br><br>
    <label for="password">Изменить пароль:</label>
    <input type="text" id="password" name="password" required minlength="8"  size="15" /><br><br>
    <input type="submit" value="Применить">
</div>

{% endblock content %}