*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 600px;
    display: inline-block;
    justify-content: center;
    color: #07beb9;
    user-select: none;
    outline: solid thick #07beb9;
    line-height: 450px;
    margin-bottom: 50px;
    transition: .5s;
}

h1:hover{
    line-height: 550px;
}
h3{
    display: flex;
    color: #32ba90;
    justify-content: center;
    user-select: none;
    opacity: 0.5;
}