*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #25283D;

}
a{text-decoration: none;}



.MegaFoot{
    background-color: #8f3985; 
    height: 90px;
    width: 100%;
    display: flex; 
    justify-content: space-between;
  
}
.FooterText{
    font-size: 40pt;
    color: white;
    margin-left: 12pt;
}
.another_text{ 
    color:white;
}
.another_text p{
    margin-left: 12pt;
    opacity: 0.8;
}
.exit{color: white;}


.right_footer{
    justify-content: flex-end; 
    margin-top: 20pt; 
    margin-right: 10pt;}

.right_footer ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
}


.white_shit{
    width: 100%;
    background-color: white;
    height: 5px;
}

.right_footer ul li a{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.right_footer ul li a:hover {

    opacity: 1;

}

.left_footer{justify-content: flex-start;}


footer{
    width: 100%;
    background-color: #212d76;
    animation: fade 1s forwards;
}
.MegaHead{
    width: 100%;
    padding: 10pt 10pt 10pt;
}
.header_navigation{
    margin: 30pt 0;
}


.HeaderText{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    display: flex;
    justify-content: center;    
}

.HeaderText:hover{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1.7em;
    opacity: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;    
}
.quote_centre{
    display: flex;
    justify-content: center;  
}
.motivation_text{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.4;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif; 
}
.quote {
    color: #788aff;
    font-size: 2.9em;
    position: absolute;
    margin-top: -16px;
  }
.quote:first-of-type {
    margin-left: -22px;
  }
.header_navigation ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.header_navigation ul li a{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.header_navigation ul li a:hover{
    opacity: 1;
}
.HeaderBottom{
    color: white;
    padding: 20pt;
    text-align: center;
    background-color: #19225b;
}
.company_name{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0pt 5pt;
}


.MainText{
    color: white;
    margin-left: 12pt;
    margin-top: 20pt;
    margin-bottom: 100pt;
    animation: fade 1s forwards;
}

@media (max-width:700px) {
    .header_navigation ul{
        flex-direction: column;
    }
    .header_navigation ul li{
        width: 100%;
        text-align: center;
        margin: 10pt;
    }
    
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(50vh);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}