*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 3px;
    transition: .5s;
}
body{background: #18256a;}
a{text-decoration: none;}

.MegaFoot{background-color: #2a3eb1; border-radius: 500px; margin-top: 10pt; margin-left: 5pt; margin-right: 5pt;display: flex; justify-content: space-between;}
.FooterText{font-size: 30pt; color: white; margin-left: 12pt;}
.another_text{margin-left: 14pt; color:white}
.exit{color: white;}
.right_footer{justify-content: flex-end; margin-top: 10pt; margin-right: 10pt;}
.left_footer{justify-content: flex-start;}

footer{
    width: 100%;
    background-color: #212d76;
}
.MegaHead{
    width: 100%;
    padding: 10pt 10pt 10pt;
}
.header_navigation{
    margin: 30pt 0;
}


.HeaderText{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    display: flex;
    justify-content: center;    
}

.HeaderText:hover{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1.7em;
    opacity: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;    
}
.quote_centre{
    display: flex;
    justify-content: center;  
}
.motivation_text{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.4;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif; 
}
.quote {
    color: #788aff;
    font-size: 2.9em;
    position: absolute;
    margin-top: -16px;
  }
.quote:first-of-type {
    margin-left: -22px;
  }
.header_navigation ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.header_navigation ul li a{
    color: white;
    margin: 20pt;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.header_navigation ul li a:hover{
    opacity: 1;
}
.HeaderBottom{
    color: white;
    padding: 20pt;
    text-align: center;
    background-color: #19225b;
}
.company_name{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0pt 5pt;
}


.MainText{
    color: white;
    margin-left: 12pt;
    margin-top: 20pt;
    margin-bottom: 100pt;
}

.teamContainer{
    display: flex;
}

.card{
    height: 300px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.moreInfo{
    height: 70px;
    width: 280px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background:rgb(27, 27,27, .5);
    color: white;
    bottom: 340px;
    transition: .9s;
}

.workerName{
    margin: 10px;
    font-size: 40px;
}

.workerInfo{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.card:hover{
    cursor: pointer;
}

.card:hover .moreInfo{
    height: 200px;
    bottom: 340px;
    background: black;
}

.card:hover .workerInfo{
    opacity: 1;
    visibility: visible;
}

.card:hover img{
    transform: scale(1.2) rotate(-3deg);
}

@media (max-width:700px) {
    .header_navigation ul{
        flex-direction: column;
    }
    .header_navigation ul li{
        width: 100%;
        text-align: center;
        margin: 10pt;
    }
    
}