*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 3px;
    transition: .5s;
    user-select: none;
}

.OurTeam{
    display: flex;
    justify-content: center;
    margin-top: 80pt;
    margin-bottom: 80pt;
}
.OurTeam span{
    color: #07beb9;
    font-size: 4em;
    font-weight: bold;
    font-family: sans-serif;
}


.teamContainer{
    justify-content: center;
    flex-wrap: wrap;
    display: inline;
    
}

.card-left{
    margin-left: 10%;
    display: flex;
    margin-bottom: 100pt;

}
.card-right{
    margin-right: 10%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100pt;
    
}
.moreInfo-left{
    margin-top: 50pt;
    margin-left: 60pt;
    display: inline;
    justify-content: center;
    color: #07beb9;
    font-family: sans-serif;
}


.moreInfo-right{
    margin-top: 50pt;
    display: inline;
    justify-content: center;
    color: #07beb9;
    font-family: sans-serif;

}

.about{
    overflow-wrap: break-word;
    width: 300pt;
}

.workerInfo{
    font-size: 1.5em;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}